body {
	background: linear-gradient(-45deg, #d5f58a, #db7fa2, #89cde6, #60e7c8);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
			animation: gradient 15s ease infinite;
	padding-top: 500px; /* 60px to make the container go all the way to the bottom of the topbar */
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}